{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="{% static 'css/cards/create_subcategory_or_cards.css' %}">
    <title>Criar subcategoria ou cartão</title>
</head>
<body>
    <main x-data="{open: false}"> 
        <div class="subcategories-and-cards-container" id="subcategory-content">
             {% include "cards/partials/subcategories_list.html" %}
        
             <!-- Aqui vai vir um for pra listar os cards -->
              <button type="button" class="card" @click="open = !open">
                Deck 1
            </button>
        </div>

        <div class="modal-create-subcategory-or-card-container" x-show="open">
            <div class="modal-create-subcategory-or-card">
                <div class="button-close">
                    <button class="close" type="button" @click="open = false">X</button>
                </div>
                <a class="button-details" href="{% url 'view_card' %}">Consultar cartão</a>
                <a class="button-details" href="{% url 'create_card' username=user.username category_slug=category.slug subcategory_slug=subcategory.slug deck_slug=deck.slug %}" >Criar cartão</a>
                <button type="button" class="button-details">Criar cartão com IA</button>
            </div>
        </div>
    </main>

    <footer>
        <div class="deltail-container" x-data="{
                open: false,
                open_subcategory: false,
                open_deck: false,
                open_card_ai: false,
                open_chat_ai: false
              }">
            <button class="create-subcategory-or-card-button" @click="open = !open">+</button>

            <div class="modal-create-subcategory-or-card-container" x-show="open">
                <div class="modal-create-subcategory-or-card">
                    <div class="button-close">
                        <button class="close" type="button" @click="open = false"">X</button>
                    </div>
                <button type="button" class="button-details" @click="open_subcategory = true, open = false">Criar subcategoria</button>
                <button type="button" class="button-details" @click="open_deck = true, open = false">Criar Deck</button>
                
                </div>
            </div>

            <div class="modal-create-category-container" x-show="open_subcategory">
                <div class="modal-create-category">
                    <div class="button-close">
                        <button class="close" type="button" @click="open_subcategory = false">X</button>
                    </div>
                    <form
                        action="{% url 'create_subcategory_or_cards' username=user.username category_slug=category.slug %}"
                        method="post"
                        hx-post="{% url 'create_subcategory_or_cards' username=user.username category_slug=category.slug %}"
                        hx-target="#subcategory-content"
                        hx-swap="innerHTML"
                        hx-on::after-request="this.reset()"
                    >
                        {% csrf_token %}
                        <input type="text" name="create_subcategory" placeholder="Nova subcategoria..." required>
                        {% if error %}
                            <p>{{ error }}</p>
                        {% endif %}
                        <button type="submit">Criar subcategoria</button>
                    </form>
                </div>
            </div>

            <div class="modal-create-category-container" x-show="open_deck">
                <div class="modal-create-category">
                    <div class="button-close">
                        <button class="close" type="button" @click="open_deck= false">X</button>
                    </div>
                    <form
                        action="{% url 'create_subcategory_or_cards' username=user.username category_slug=category.slug %}"
                        method="post"
                        hx-post="{% url 'create_subcategory_or_cards' username=user.username category_slug=category.slug %}"
                        hx-target="#subcategory-content"
                        hx-swap="innerHTML"
                        hx-on::after-request="this.reset()"
                    >
                        {% csrf_token %}
                        <input type="text" name="create_subcategory" placeholder="Novo deck..." required>
                        {% if error %}
                            <p>{{ error }}</p>
                        {% endif %}
                        <button type="submit">Criar Deck</button>
                    </form>
                </div>
            </div>

            
        </div>
    </footer>
</body>
</html>