{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="{% static 'css/cards/show_category.css' %}">
    <title>Suas categorias</title>
</head>
<body>
    <main> 
        <div class="categories-container">
            <!-- Aqui vai vir um for pra listar todas as categorias -->
             {% for category in categories %}
                <a class="category-card" href="{% url 'create_subcategory_or_cards' %}">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
    </main>

    <footer>
        <div x-data="{open: false}">
            <div class="deltail-container">
                <button class="create-category-button" @click="open = !open">+</button>
            </div>

            <div class="modal-create-category-container" x-show="open">
                <div class="modal-create-category">
                    <div class="button-close">
                        <button class="close" type="button" @click="open = false"">X</button>
                    </div>
                    <form action="{% url 'create_and_show_category' username=user.username %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="category_name" placeholder="Nova categoria..." required>
                        {% if error %}
                            <p class="error">{{ error }}</p>
                        {% endif %}
                        <button type="submit">Criar categoria</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>