{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">
    <title>Login</title>
</head>
<body>
    <main>
        <h2>Login</h2>
        <div class="container">
            <form action="{% url 'make_login' %}" method="post">
                {% csrf_token %}
                <label>Username</label>
                <input type="text" name="username" placeholder="Digite seu nome de usuário" required>
                <label>Senha</label>
                <input type="password" name="password" placeholder="Digite sua senha" required>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <button type="submit">Entrar</button>
            </form>
        </div>
    </main>
</body>
</html>