* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin: 20px;
}

.container {
    display: flex;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #333;
    flex-direction: column;
    width: 400px;
    height: 300px;
    padding: 20px;
    border-radius: 15px;
}

label {
    margin-top: 20px;
}

input {
    margin-top: 10px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #999;
}

input:focus {
    outline-color: #999;
}

button {
    margin-top: 30px;
    height: 30px;
    color: #fff;
    background-color: #457d97;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #3b6f87;
}

@media (max-width: 600px) {
    .container {
        width: 250px;
        height: 250px;
    }

    button {
        border-radius: 7px;
    }
}