* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f5f5f5;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 500px;
    height: 350px;
    gap: 10px;
    box-shadow: 1px 1px 5px black;
    border-radius: 15px;
}

textarea {
    width: 300px;
    height: 150px;
    resize: none;
    overflow: hidden;
}

textarea::placeholder {
    text-align: center;
    line-height: 150px;
}

.button-container {
    flex-direction: row;
}

button {
    width: 100px;
    height: 35px;
    background-color: #49708a;
    color: #fff;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #215a6d;
}


@media (max-width: 600px) {
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        background-color: #f5f5f5;
        width: 270px;
        height: 260px;
        gap: 10px;
        box-shadow: 1px 1px 5px black;
        border-radius: 15px;
    }

    textarea {
        width: 250px;
        height: 150px;
        resize: none;
        overflow: hidden;
    }

    textarea::placeholder {
        text-align: center;
        line-height: 150px;
    }
}