* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.subcategories-and-cards-container {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-top: 50px;
    max-width: 90%;
}

.subcategory-card {
    width: 150px;
    height: 100px;
    background-color: #a6c88c;
    text-align: center;
    color: #fff;
    line-height: 100px;
    margin: 10px;
    cursor: pointer;
}

.subcategory-card:hover {
    background-color: #80bc96;
}

.card {
    width: 150px;
    height: 100px;
    background-color: #e9e9e9;
    text-align: center;
    color: #000;
    line-height: 100px;
    margin: 10px;
    cursor: pointer;
    border-style: solid;
    border-color: #3e4147;
}

.card:hover {
    background-color: #cccccc;
}

.button-details {
    width: 200px;
    height: 40px;
    border: none;
    background-color: #457d97;
    color: #fff;
    border-radius: 30px;
    margin: 2px;
    text-align: center;
    line-height: 40px;
}

.button-details:hover {
    background-color: #0f7d7e;
}

.modal-create-subcategory-or-card-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    inset: 0;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(5px) saturate(150%);
}

.modal-create-subcategory-or-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e4d5;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    flex-direction: column;
    gap: 20px;
    position: absolute;
}

.create-subcategory-or-card-button {
    background-color: #0f7d7e;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    margin: 10px;
    bottom: 0;
    position: fixed;
    color: #fff;
    text-align: center;
    list-style: none;
    font-size: 40px;
    line-height: 50px;
    border: none;
}

.create-subcategory-or-card-button:hover {
    background-color: #336666;
}

.button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.button-close .close {
    background-color: #d3c8b4;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
}

.button-close .close:hover {
    background-color: #d1c089;
}

.modal-create-category-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    inset: 0;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(5px) saturate(150%);
}

.modal-create-category {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e4d5;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    flex-direction: column;
    gap: 20px;
    position: absolute;
}

.modal-create-category form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e4d5;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    flex-direction: column;
    gap: 20px;
}

.modal-create-category input {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.modal-create-category form input {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.modal-create-category button {
    width: 100px;
    height: 30px;
    background-color: #703e3b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.modal-create-category form button {
    width: 100px;
    height: 30px;
    background-color: #703e3b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.modal-create-category button:hover {
    background-color: #412e28;
}

.modal-create-card-with-ai-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    inset: 0;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(5px) saturate(150%);
}

.modal-create-card-with-ai {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e4d5;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    flex-direction: column;
    gap: 20px;
    position: absolute;
}

.prompt-ai-components {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 25px;
    background-color: #fff;
    width: 300px;
    border-radius: 20px;
}

.prompt-ai-components .prompt-ai {
    width: 250px;
    height: 50px;
    border: none;
    outline: none;  
    border-radius: 20px;
}

.prompt-ai-components .send-button {
    width: 30px;
    height: 30px;
    border: none;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    background-color: #008584;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.prompt-ai-components .send-button:hover {
    background-color: #006666;
}

.questions-and-responses {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 80px;
    gap: 20px;
    overflow-y: auto;
}

.questions-and-responses .question {
    align-self: flex-end;
    max-width: 80%;
    background-color: #cccccc;
    margin-right: 15px;
    width: auto;
    max-width: 70%;
    min-height: auto;
    padding: 10px;
    border-radius: 10px;
}

.questions-and-responses .response {
    background-color: #7db8a2;
    align-self: flex-start;
    margin-left: 15px;
    width: auto;
    max-width: 70%;
    min-height: auto;
    padding: 10px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .subcategories-and-cards-container {
        display: grid;
        grid-template-columns: repeat(1, max-content);
        justify-content: center;
        align-items: center;
        margin: 50px;
        margin-top: 50px;
        max-width: 90%;
    }

    .subcategory-card {
        width: 220px;
        height: 130px;
        background-color: #a6c88c;
        text-align: center;
        color: #fff;
        line-height: 130px;
        margin: 10px;
        cursor: pointer;
    }

    .card {
        width: 220px;
        height: 130px;
        background-color: #e9e9e9;
        text-align: center;
        color: #000;
        line-height: 130px;
        margin: 10px;
        cursor: pointer;
        border-style: solid;
        border-color: #3e4147;
    }

    .modal-create-subcategory-or-card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e7e4d5;
        width: 250px;
        height: 250px;
        border-radius: 30px;
        flex-direction: column;
        gap: 20px;
        position: absolute;
    }

    .button-details {
        width: 170px;
        height: 35px;
        border: none;
        background-color: #457d97;
        color: #fff;
        border-radius: 15px;
        margin: 2px;
        text-align: center;
        line-height: 35px;
    }

    .modal-create-category {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e7e4d5;
        width: 250px;
        height: 250px;
        border-radius: 30px;
        flex-direction: column;
        gap: 20px;
        position: absolute;
    }

    .modal-create-category input {
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 10px;
    }

    .modal-create-category button {
        width: 100px;
        height: 30px;
        background-color: #703e3b;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    .modal-create-card-with-ai {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #e7e4d5;
        width: 250px;
        height: 450px;
        border-radius: 30px;
        flex-direction: column;
        gap: 20px;
        position: absolute;
    }

    .prompt-ai-components {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: absolute;
        bottom: 25px;
        background-color: #fff;
        width: 220px;
        border-radius: 20px;
    }

    .prompt-ai-components .prompt-ai {
        width: 180px;
        height: 40px;
        border: none;
        outline: none;  
        border-radius: 10px;
    }

    .prompt-ai-components .send-button {
        width: 30px;
        height: 30px;
        border: none;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        background-color: #008584;
        color: #fff;
        border-radius: 100%;
        cursor: pointer;
    }
}