* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-top: 50px;
    max-width: 90%;
}

.category-card {
    width: 150px;
    height: 100px;
    background-color: #76b5a0;
    text-align: center;
    color: #fff;
    line-height: 100px;
    margin: 10px;
    cursor: pointer;
}

.category-card:hover {
    background-color: #3f8978;
}

.card {
    width: 150px;
    height: 100px;
    background-color: #e9e9e9;
    text-align: center;
    color: #000;
    line-height: 100px;
    margin: 10px;
    cursor: pointer;
    border-style: solid;
    border-color: #3e4147;
}

.card:hover {
    background-color: #cccccc;
}

.modal-create-subcategory-or-card-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    inset: 0;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(5px) saturate(150%);
}

.modal-create-subcategory-or-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e4d5;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    flex-direction: column;
    gap: 20px;
    position: absolute;
}

.create-subcategory-or-card-button {
    background-color: #0f7d7e;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    margin: 10px;
    bottom: 0;
    position: fixed;
    color: #fff;
    text-align: center;
    list-style: none;
    font-size: 40px;
    line-height: 50px;
    border: none;
}

.create-subcategory-or-card-button:hover {
    background-color: #336666;
}

.button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.button-close .close {
    background-color: #d3c8b4;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
}

.button-close .close:hover {
    background-color: #d1c089;
}

.button-details {
    width: 200px;
    height: 40px;
    border: none;
    background-color: #457d97;
    color: #fff;
    border-radius: 30px;
    margin: 2px;
    text-align: center;
    line-height: 40px;
}

.button-details:hover {
    background-color: #0f7d7e;
}

.create-category-button {
    background-color: #0f7d7e;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    margin: 10px;
    bottom: 0;
    position: fixed;
    color: #fff;
    text-align: center;
    list-style: none;
    font-size: 40px;
    line-height: 50px;
    border: none;
}

.create-category-button:hover {
    background-color: #457d97;
}

.modal-create-category-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    inset: 0;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(5px) saturate(150%);
}

.modal-create-category {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e4d5;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
    
.modal-create-category form { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e4d5;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    flex-direction: column;
    gap: 20px;
}

.button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.button-close .close {
    background-color: #d3c8b4;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
}

.button-close .close:hover {
    background-color: #d1c089;
}

.modal-create-category input {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.modal-create-category button {
    width: 100px;
    height: 30px;
    background-color: #703e3b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.modal-create-category button:hover {
    background-color: #412e28;
}

@media (max-width: 500px) {
    .categories-container {
        display: grid;
        grid-template-columns: repeat(1, max-content);
        justify-content: center;
        align-items: center;
        max-width: 900px;
        margin: 50px auto 0;
        margin-top: 30px;
    }

    .category-card {
        width: 220px;
        height: 130px;
        background-color: #76b5a0;
        text-align: center;
        color: #fff;
        line-height: 130px;
        margin: 10px;
        cursor: pointer;
    }

    .modal-create-category-container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        inset: 0;
        background-color: rgba(0,0,0,.5);
        backdrop-filter: blur(5px) saturate(150%);
    }

    .modal-create-category {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e7e4d5;
        width: 250px;
        height: 250px;
        border-radius: 30px;
        flex-direction: column;
        gap: 20px;
        position: relative;
    }

    .modal-create-category form { 
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e7e4d5;
        width: 250px;
        height: 250px;
        border-radius: 30px;
        flex-direction: column;
        gap: 20px;
    }

    .button-close {
        position: relative;
        /*margin-left: 85%;*/
        /*height: 40vh;*/
        bottom: 40px;
        left: 100px;
        cursor: pointer;
    }

    .button-close .close {
        background-color: #d3c8b4;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: none;
    }

    .button-close .close:hover {
        background-color: #d1c089;
    }

    .modal-create-category input {
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 10px;
    }

    .modal-create-category button {
        width: 100px;
        height: 30px;
        background-color: #703e3b;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    .modal-create-category button:hover {
        background-color: #412e28;
    }
}