* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 500px;
    height: 325px;
    box-shadow: 1px 1px 5px black;
    font-size: 25px;
}

.previous-card,
.next-card {
    background-color: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    padding: 20px;
    color: #000;
}

.previous-card:hover,
.next-card:hover {
    color: #666;
}

@media (max-width: 600px) {
    .container {
        gap: 10px;
    }
    
    .card-container {
        width: 500px;
        height: 250px;
        font-size: 17px;
    }
    
    .previous-card,
    .next-card {
        font-size: 20px;
        padding: 10px;
    }
}